<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/roolikuvia.css">
    <title>Kouluttajana</title>
</head>
<meta charset="UTF-8">

<body>
<h1>Ansioluettelot</h1>
<ul>
    <li><a href="../web/viewer.html?file=Ansioluettelo_Katja_2017.pdf">Koko CV</a></li>
    <li><a href="../web/viewer.html?file=CV_Nayttelija.pdf">Näyttelijänä</a></li>
    <li><a href="kouluttaja.html">Kouluttajana</a></li>
    <li><a href="../web/viewer.html?file=CV_Psykoterapeutti.pdf">Psykoterapeuttina</a></li>
    <li><a href="apurahat.html">Apurahat</a></li>
</ul>

</body>