<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/blogi.css">
    <title>Kouluttajana</title>
</head>

<body>
    <h1> Minun uusi otsikko </h1>
    <p> "Ei se pudotus, vaan äkkipysäys"<br><br>

Tanssiminen on kuin panisi rahaa pankkiin, sanoisin, jos tanssin hyödyllisyyttä pitäisi näillä markkinoilla perustella, ja jatkaisin: Tanssiminen tuottaa hyötyjä kumulatiivisesti, siis välittömien lisäksi johdannaisia, mutta kuluja ei lainkaan.<br><br>

Sain Thomasilta kotiin viemisiksi kehotuksen ”tanssi joka päivä”. Ota tilan ja hetken elementit ja tanssi se vuorovaikutuksessa kaikkeuden kanssa, kuului hänen viisautensa. Mikä tahansa hetki sopii tanssille. Kohotan kädet pääni päälle, 
        lasken ne ulos hengittäen aauumm, ja siitä se lähtee. Vaikka vain minuutin, siinä missä ja kuka sillä hetkellä olen. </p>
</body>
