<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/blogi.css">
    <title>Blogi</title>
</head>
<meta charset="UTF-8"/>

<body>
    <h1> MINÄ MYÖS! - 01.02.2018 </h1>
    <p> Vuosi 2017 jää historiaan kahdesta syystä: #metoo - kampanjasta sekä esikoistietokirjani Palasina ja
        kokonaisena. Ihminen näyttämöllä (Kirjapaja 2017) julkaisusta.<br><br>

        Ja kuinka ollakaan, tietokirjassani kirjoitan myös meetoo -kokemuksistani. Meemeissä mennään!<br><br>

        Nuo muutamat häirintätapaukset tulivat mukaan tietokirjaani pakottamatta, luonnollisesti.<br><br>

        Kokemuksia seksuaalisesta häirinnästä minulla riittää. Sen jatkuminen ammatissani näyttelijänä ei tullut
        eteeni mistään "syvästä sinisestä" eli varoittamatta kulman takaa.
        Oppikoulusta lähtien minua kutsuttiin "herkkuperseeksi" ja "viisivuotissuunnitelmaksi". Kourailuja olen
        saanut sietää pitkin matkaa. Ymmärsin varhain, että naispuolisena ihmisenä siihen on syytä tottua. Mitään
        loppua ei ollut näköpiirissä. Ei asiasta porattu silloin tyttöjen, terveydenhoitajan, opettajien tai
        vanhempien kanssa. Itse ja yksinään sai kantaa sekä kummastuksen kulttuurista että häpeän.<br><br>

        Häpeän? Kenen häpeän? Miksi seksuaalisen häirinnän uhri tuntee häpeää?<br><br>

        Tätä kummaa ilmiötä jouduin pohtimaan ankarasti viime vuoden alkupuoliskolla. Vietin normi-iltaa
        kantakapakassani ja olin palaamassa naistenhuoneesta pöytäseurueeseeni kun kollegiaalisesti tuntemani
        miesnäyttelijä nappasi minusta lujan otteen ja veti kasvoni omiaan kohti. Väkivalta yllätti.
        Ennen kuin mies sai työnnettyä kielensä suuhuni rimpuilin jo kaikin voimin itseäni irti hänestä.
        Hän vastusti rimpuiluani samoin kovin ottein ja huusi haluvansa vain suudella minua, johon minä, että
        minä en halua suudella häntä.
        Sain huutamisesta lisävoimia ja pääsin irti miehen käpälistä.
        Palasin pöytääni, ensin huojentuneena. Paikaltani näin miehen uudehkon vaimon istuvan toisen nurkan
        pöydässä. Hetken kävi mielessä, että marssisin sinne ja kertoisin kaiken, putsaisin pöydän. Mutta eikö se
        olisikin ollut vain kosto? Ja enkö olisikin saanut vain vaimon vihat päälleni?
        Ennen kuin mitkään ajatukseni selvenivät tajusin tuntevani kauttaaltani järkyttävää häpeää, joka lamautti
        minut täysin.
        Häpeä seurasi minua koko illan ja sitä oli jäljellä vielä seuraavinakin päivinä, kun väkivallanteko palautui<br><br>

        tuon tuosta mieleen - ja kehoon.<br><br>

        Mitä häpeällistä minä olin tehnyt?<br><br>

        Koetin tavoittaa häpeäntunteen takana ja sivuilla lymyäviä ja luikahtelevia ajatuksiani. Löysin itsestäni
        seuraavia sanoiksi taipuvia mielenliikkeitä:<br>
        1. Jo vuosia olen pohtinut, tulisiko minun lähestyä kyseistä, kaupunkimme joka näyttämöllä ja maamme
        joka mediassa työskentelevää miesnäyttelijää ja pyrkiä hänen kauttaan saamaan mahdollisuuden
        roolitöihin palkatuissa toimenkuvissa.
        Se portti meni torjumisen myötä kiinni.
        Olinko siis torpannut heikosti edennyttä uraani edelleen? Mokannut!?<br>
        2. Vaikka oma arvostukseni kyseisen kollegan ammattitaitoa kohtaan on aina ollut epäileväinen, hänet on
        nostettu miesnäyttelijöiden massasta useilla huomattavilla palkinnoilla. Minä
        näyttäydyn kokonaisuudessa vastarannan kiiskenä, joka ei osaa arvostaa sitä, mitä maamme suurimmat
        suosionosoitusten jakajat arvostavat. On siis mahdollista, että olen mielipiteeni kanssa väärässä. Eivätkö
        kaikki palkintojen jakajatkin olisi olleet vain otettuja vastaavasta "huomionosoituksesta": "haluan
        suudella sua!"? Ja minä se tyhmä, en ollut tajunnut tilaisuuteni koittaneen! En ollut tajunnut olleeni niin
        lähellä glooriaa!<br>
        3. Olen elänyt ja elän edelleen miesten maailmassa. Hermostoni, moraalini ja sosiaalisesti syvään
        iskostuneet valtasuhteet, hierarkia, suosivat itsensä jalustalleen nostanutta miessukupuolta. Ellen pura
        kaikkia aiheeseen liittyviä automaatioita, ne reagoivat kollektiivin, ympäröivän kulttuurin sanelun
        mukaisesti: it is a man's world.<br><br>

        Kolmas kohta pohdinnoissani vapautti minut.<br><br>

        Ja lopulta vuoden lopussa irti päässyt #metoo.<br><br>

        Aloin saada puheluita toimittajilta. Kirjoittamani tietokirja kiinnosti murto-osaa heistä, ja siitäkin lähinnä
        vain Jouko Turkka -osuus. Suurinta osaa kiinnosti näyttelijänä kokemani seksuaalinen ahdistelu.<br><br>

        Jouduin tuottamaan heille pettymyksen: ensinnäkään en ole työskennellyt kentällä moneen monituiseen
        vuoteen, en tiedä, mitä siellä on meneillään. Toisekseen: suomalaiset miesohjaajat tai -tuottajat eivät
        koskaan ole painostaneet minua seksuaalisella tai muullakaan vallankäytöllä.
        Mielelläni olisin sellaiset väärinkäytökset posauttanut! Tiedän, että niitä on, kaikilla aloilla. Vaan kun
        mitään kättä pidempää ei minulla ollut antaa.<br><br>

        Pystyin kyllä kertomaan toimittajille naistuottajasta, joka ei halunnut keskustella kanssani
        elokuvasopimuksesta, jonka mukaan minulle oltiin maksamassa 100 €/pv vähemmän kuin
        kouluttamattomille miesnäyttelijöille. Nainen sanoi puhelimessa: "Jos tämä ei kelpaa, löydämme tilallesi
        toisen näyttelijän."
        Onnekseni Lauri Törhönen halusi juuri minut elokuvaansa, ja tuotantoyhtiön toimitusjohtaja nosti
        päiväpalkkani.<br><br>

        Kerroin heille luottamuksellisesti myös nimeltä kyseisen näyttelijämiehen aggressivisesta
        suuteluhalukkuudesta, sillä enää en häpeä sitä.
        Hävetköön ne joilla on siihen syytä!<br><br>

        (JATKUU SURAAVASSA BLOGI-KIRJOITUKSESSANI, JOSSA KERRON MUUTAMAN
        NAURETTAVAN TARINAN MUUTAMASTA ELOKUVA-ALAN TOIMIJASTA.) </p>
</body>
