<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <title>Mediassa</title>
</head>
<meta charset="UTF-8">

<body>
<h1>Palasina ja kokonaisena
    <img id="bookIcon" src="../images/kansikuva.jpg" alt=""></h1>
<h2>Mediassa</h2>
<div id="linkList">
    <ul>
        <li>
            <a href="https://www.verkkouutiset.fi/jouko-turkan-kouluttama-nayttelijatar-paljastaa-vasta-nyt-teatterivaikuttajan-avoimen-sadismin/" target="_blank">
            Verkkouutiset
        </a> / Markku Jokipii, 10.12.2017
        </li>
        <li>
            <a href="http://kirjasta-kirjaan.blogspot.fi/2017/11/katja-kiuru-palasina-ja-kokonaisena.html" target="_blank">
                Kirjasta kirjaan -blogi
            </a>, Hannele Salminen, 26.11.2017
        </li>
        <li>
            <a href="https://areena.yle.fi/1-4247613" target="_blank">Yle Puheen Nosto - ohjelma</a> 17.10.2017, toimittajat Linda Vettanen ja Miia Krause
        </li>
    </ul>
</div>
<br><br>
<div class="review">
    <h3>Julkaistu lehdissä Karjalainen (16.1.2018) ja  Keskisuomalainen (22.1.2018),  kirjoittaja Suonna Kononen</h3>
    <img style="max-width: inherit" src="../images/kirja-arvio_karjalainen_kiuru.JPG" alt="">
</div>
<div class="review">
    <h3>Julkaistu Teatteri & Tanssi + Sirkus -lehdessä 7/2017, kirjoittaja Riina Maukola</h3>
    <img src="../images/1_arvostelu_P&K-page-001.jpg" alt="">
</div>


</body>